<div class="main-container">

    <h1 class="headers">What is Spring Marketplace?</h1>
    <p>Spring Marketplace is a Full-Stack Produce Market made using Angular, Java Springboot, and MongoDB as the
        Database.</p>
    <p>This is a 3 person project that aims to mimic modern day online store applications and their features.</p>
    <p>Features include Login/Registration w/ hashed passwords, fully customizable profile page, marketplace page, cart.
    </p>
    <br>
    <p>Feel free to register and check out the features</p>
    <a target="_blank" href="https://github.com/michaelivanov1/spring-marketplace">Source code</a>
    
    <br>
    <h1 class="headers">How do I use this app?</h1>
    <br>

    <h1 class="headers">Using Spring Marketplace as a Buyer</h1>
    <p>1. Register</p>
    <p>2. Start buying on the marketplace</p>

    <h1 class="headers">Using Spring Marketplace as a Seller</h1>
    <p>1. Register</p>
    <p>2. Add your info on the profile page</p>
    <p>3. List items directly from your profile</p>

    <h1 class="headers">Buying Produce</h1>
    <p>1. Browse whats available on the marketplace</p>
    <p>2. Click the item you would like to purchase and add the desired quantity to the cart</p>
    <p>3. View your cart by clicking the cart icon</p>
    <p>4. Click checkout to purchase, or X to remove specific items from cart</p>
</div>