.banner {
    background-image: url(/assets/about-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 50px;

    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        padding: 195px 0px;

        h1 {
            font-size: 50px;
            color: #0fc263;
            font-weight: 900;
            text-transform: uppercase;

            img {
                width: 42px;
                height: 28px;
                margin-top: -60px;
            }
        }
    }
}

mat-expansion-panel {
    padding: 10px;
    margin: 25px auto;
    width: 50%;

    mat-panel-title {
        font-size: 22px;
        padding: 10px;
    }

    a {
        font-size: 18px;
        color: #3fa458;
    }

    .point {
        margin-bottom: 10px;
    }

    .point p {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    mat-expansion-panel {
        padding: 20px;

        mat-panel-title {
            font-size: 14px;
            padding: 10px;
        }

        p {
            font-size: 12px;
        }
    }
}