<div class="container">
  <div class="content">
    <div class="info-header">
      <p class="info-header-text">
        Enjoy 20% off on all produce until October 1st!
      </p>
    </div>
    <mat-toolbar class="header">
      <div class="menu-items-left">
        <img src="../assets/logo.png" class="logo" alt="logo" />
      </div>
      <div class="menu-items-center">
        <a
          mat-tab-link
          [routerLink]="['home']"
          (click)="setTitle('Home')"
          routerLinkActive="selected-menu-item-navbar"
          >Home</a
        >
        <a
          mat-tab-link
          *ngIf="isLoggedIn()"
          [routerLink]="['profile']"
          (click)="setTitle('Profile')"
          routerLinkActive="selected-menu-item-navbar"
          >Profile</a
        >
        <a
          mat-tab-link
          *ngIf="isLoggedIn()"
          [routerLink]="['marketplace']"
          (click)="setTitle('Marketplace')"
          routerLinkActive="selected-menu-item-navbar"
          >Marketplace</a
        >
        <a
          mat-tab-link
          *ngIf="isLoggedIn()"
          [routerLink]="['farmers']"
          (click)="setTitle('Farmers')"
          routerLinkActive="selected-menu-item-navbar"
          >Farmers</a
        >
        <div *ngIf="isSmallScreen">
          <a
            style="color: #3fa458"
            mat-tab-link
            *ngIf="!isLoggedIn()"
            mat-button
            routerLink="/login"
            (click)="setTitle('Login')"
            routerLinkActive="selected-menu-item-navbar"
            >Login</a
          >
          <a
            style="color: #3fa458"
            mat-tab-link
            *ngIf="!isLoggedIn()"
            mat-button
            routerLink="/register"
            (click)="setTitle('Register')"
            routerLinkActive="selected-menu-item-navbar"
            >Register</a
          >
          <a
            style="color: #3fa458"
            mat-tab-link
            *ngIf="isLoggedIn()"
            mat-button
            routerLink="/shopping-cart"
            (click)="setTitle('Shopping Cart')"
            routerLinkActive="selected-menu-item-navbar"
          >
            <mat-icon>shopping_cart</mat-icon>
          </a>
          <a
            style="color: #3fa458"
            mat-tab-link
            *ngIf="isLoggedIn()"
            mat-button
            (click)="logout()"
            >Logout</a
          >
        </div>
      </div>
      <div *ngIf="!isSmallScreen" class="menu-items-right">
        <a
          mat-tab-link
          *ngIf="!isLoggedIn()"
          mat-button
          routerLink="/login"
          (click)="setTitle('Login')"
          routerLinkActive="selected-menu-item-navbar"
          >Login</a
        >
        <a
          mat-tab-link
          *ngIf="!isLoggedIn()"
          mat-button
          routerLink="/register"
          (click)="setTitle('Register')"
          routerLinkActive="selected-menu-item-navbar"
          >Register</a
        >
        <a
          mat-tab-link
          *ngIf="isLoggedIn()"
          mat-button
          routerLink="/shopping-cart"
          (click)="setTitle('Shopping Cart')"
          routerLinkActive="selected-menu-item-navbar"
        >
          <mat-icon>shopping_cart</mat-icon>
        </a>
        <a mat-tab-link *ngIf="isLoggedIn()" mat-button (click)="logout()"
          >Logout</a
        >
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>

  <div class="about">
    <div class="about-grid">
      <img
        src="../assets/about-section-icons/buy-local.png"
        width="140"
        height="120"
        alt="Barn clip art"
      />
      <h4>Support Local</h4>
      <p>
        Picture a virtual farmers' market that you can explore from the cozy
        confines of your home whenever it suits your schedule.
      </p>
    </div>

    <div class="about-grid">
      <img
        src="../assets/about-section-icons/sell-goods.png"
        width="120"
        height="120"
        alt="farmer clip art"
      />
      <h4>Sell Your Own Goods</h4>
      <p>
        Do you have fresh produce or goods to offer? Now, you can sell them
        comfortably from your home or office, with ease and convenience.
      </p>
    </div>

    <div class="about-grid">
      <img
        src="../assets/about-section-icons/fresh-guarantee.png"
        width="140"
        height="120"
        alt="plant clip art"
      />
      <h4>Fresh Guarantee</h4>
      <p>
        We pledge that all our products are delivered to your doorstep at the
        peak of freshness, ensuring you enjoy the finest quality every time.
      </p>
    </div>
  </div>

  <div class="footer-container">
    <div class="footer-body">
      <!-- <div class="footer-icons">
        <mat-icon>code</mat-icon>
      </div> -->

      <div class="footer-nav">
        <a
          mat-tab-link
          [routerLink]="['home']"
          (click)="setTitle('Home')"
          class="menu-item"
          routerLinkActive="selected-menu-item-footer"
          >Home</a
        >
        <a
          mat-tab-link
          [routerLink]="['profile']"
          mat-tab-link
          *ngIf="isLoggedIn()"
          (click)="setTitle('Profile')"
          class="menu-item"
          routerLinkActive="selected-menu-item-footer"
          >Profile</a
        >
        <a
          mat-tab-link
          [routerLink]="['marketplace']"
          mat-tab-link
          *ngIf="isLoggedIn()"
          (click)="setTitle('Marketplace')"
          class="menu-item"
          routerLinkActive="selected-menu-item-footer"
          >Marketplace</a
        >
        <a
          mat-tab-link
          [routerLink]="['farmers']"
          mat-tab-link
          *ngIf="isLoggedIn()"
          (click)="setTitle('Farmers')"
          class="menu-item"
          routerLinkActive="selected-menu-item-footer"
          >Farmers</a
        >
        <a
          mat-tab-link
          [routerLink]="['about']"
          (click)="setTitle('About')"
          class="menu-item"
          routerLinkActive="selected-menu-item-footer"
          >About</a
        >
        <a
          href="https://github.com/michaelivanov1/spring-marketplace"
          target="_blank"
          class="menu-item"
          >Source Code</a
        >
      </div>
    </div>
    <div class="footer-copyright">
      <p class="footer-text">&copy;Spring Marketplace - 2024</p>
    </div>
  </div>
</div>
