<mat-card align="center">
    <div class="main-container">
        <mat-card-title>
            Spring Marketplace
        </mat-card-title>
        <div>
            <p>Registration successful</p>

            <button>Become a seller?</button>
            <button (click)="onMarketplaceRedirectClick()">
                No thanks, bring me to marketplace
              </button>
        </div>

    </div>
    <mat-card-footer align="end" class="my-accent-text margin-right-2">
        &copy;Spring Marketplace - 2023
    </mat-card-footer>
</mat-card>