<div class="banner-container">
  <img class="banner-image" src="assets/home-page/home-banner.jpg" />
  <div class="data-container">
    <p class="banner-title">SPRING MARKETPLACE</p>
    <p class="banner-description">
      An online farmers market connecting consumers with locally sourced, fresh
      produce for a sustainable and vibrant online shopping experience.
    </p>
    <button (click)="scrollToInfo()" class="banner-info-button">
      VIEW PRODUCTS
    </button>
  </div>
</div>

<!-- <div class="slider-wrapper">
    <div class="slider">
        <div id="slide-1" class="slide" style="background-image: url(assets/home-page/home-banner.jpg);"></div>

        <div id="slide-2" class="slide"
            style="background-image: url(https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);">
        </div>

        <div id="slide-3" class="slide"
            style="background-image: url(https://images.unsplash.com/photo-1434725039720-aaad6dd32dfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2842&q=80);">
        </div>
    </div>

    <div class="dots">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
    </div>
</div> -->

<div class="featured-produce" id="featured-produce">
  <div class="main-container">
    <h2>Featured Produce</h2>
    <div class="featured_produce__carousel-container">
      <div class="featured-produce__carousel">
        <div class="featured-produce__card" *ngFor="let produce of produceList">
          <img
            [src]="produce.image || '/assets/profile-image-loading.gif'"
            alt="{{ produce.foodName }}"
          />
          <div class="featured-produce__card-details">
            <div class="featured-produce__card-food-name">
              {{ produce.foodName }}
            </div>
            <div class="featured-produce__card-food-price">
              ${{ produce.price }}
            </div>
            <div class="featured-produce__card-food-stock">
              {{ produce.qoh }} in stock
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="info-container">
  <div class="main-container main-container--extra-padding-top">
    <h2 class="info-container__header">Our Goal</h2>
    <h3 class="info-container__subheader">
      is to provide an online marketplace for local farmers and consumers
    </h3>
    <!-- <button (click)="learnMoreClick()" class="info-container__cta">Learn More</button> -->
  </div>
</div>

<div class="main-cmp">
  <div class="main-container">
    <div>
      <img
        class="main-cmp__main-img"
        src="/assets/home-page/rich-text.png"
        alt
      />
    </div>
    <div>
      <h2>Shop Fresh, Shop Organic</h2>
      <div class="main-cmp__body-copy">
        <p>
          Embrace wholesome goodness with every bite. Shop fresh, shop organic –
          because your well-being matters.
        </p>
      </div>
      <div class="main-cmp__icon-text-list">
        <div>
          <img src="/assets/home-page/subcontainer-img1.png" />
          <div class="main-cmp__icon-text-list-blurb">
            <p>
              Pure & Fresh Selection: Immerse yourself in the pure essence of
              organic goodness, handpicked for its freshness and quality.
            </p>
          </div>
        </div>
        <div>
          <img src="/assets/home-page/subcontainer-img2.png" />
          <div class="main-cmp__icon-text-list-blurb">
            <p>
              Simple, Healthy, and Incredibly Delicious: Rediscover the joy of
              simplicity in your meals, where health meets mouthwatering flavor
              in every organic bite.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="info-container">
  <div class="main-container">
    <h2 class="info-container__header">Register Now</h2>
    <h3 class="info-container__subheader">
      Create an account for free to start buying & selling produce today
    </h3>
    <button (click)="redirectToRegistration()" class="info-container__cta">
      Register Now
    </button>
  </div>
</div>
