.banner-container {
    position: relative;
    width: 100%;
    height: 550px;
    text-align: center;
}

.banner-image {
    height: 100%;
    width: 100%;
}

.data-container {
    position: absolute;
    top: 0;
    left: 150px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.banner-title {
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    width: 100%;
    color: #FFDE59;
    font-size: 60px;
    max-width: 80%;
    margin-top: 24%;
    line-height: 1;
}

.banner-description {
    color: white;
    font-size: 16px;
    max-width: 80%;
    text-align: left;
    margin-top: 10px;
}

.banner-learnmore-button {
    margin-top: 20px;
    background-color: rgb(41, 207, 41);
    height: 40px;
    color: white;
    align-self: flex-start;
    margin-left: 10%;
    border: none;
    border-radius: 5px;
    padding: 12px;
    transition: all 0.3s ease;
}

.banner-learnmore-button:hover {
    background-color: rgb(33, 169, 33);
    cursor: pointer;
    transform: scale(1.1);
}

.main-container {
    text-align: left;
    margin: 30px auto;
    padding: 20px;
    width: 50%;

    .info-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .info-image {
        max-width: 100%;
        max-height: 100%;
    }

    .headers {
        margin-top: 30px;
        color: #0FC263;
        font-weight: 500;
    }

    p {
        line-height: 1.2;
        font-size: 18px;
    }

    a {
        color: purple;
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .banner-container {
        width: 100%;
        height: 250px;

        .banner-image {
            height: 100%;
        }

        .data-container {
            width: 50%;
            left: 50px;
        }

        .banner-title {
            margin-top: 7%;
            color: #FFDE59;
            font-size: 26px;
            max-width: 100%;
            margin-left: 20%;
            line-height: 1;
        }

        .banner-description {
            color: white;
            font-size: 14px;
            max-width: 80%;
            text-align: left;
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .banner-container {
        display: none;
    }

    .main-container {
        padding: 0;
        width: 75%;
    }
}
