.main-container {
  // background-image: url("../../../assets/background.png");
  margin: 0 auto;
  overflow-x: hidden;
}

.info-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .product-image {
    height: 20vh;
    margin-bottom: 5px;
  }
}

.qoh-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.qoh-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.qoh-container input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.confirm-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .cancel-button {
    background-color: #bf6c189f;
    margin: 10px;

    &:hover {
      background-color: #af5b079f;
    }
  }

  .add-button {
    background-color: #00bf63b1;

    &:hover {
      background-color: #0ad171b1;
    }

    &:disabled {
      background-color: #00bf63b1;
      cursor: not-allowed;

      &:hover {
        background-color: #00bf63b1;
      }
    }
  }

}