<div>
  <div class="image-container">
    <img
      class="product-image"
      src="assets/Pumpkin.jpg"
      alt="${produce.foodName}"
    />
  </div>

  <div mat-dialog-content class="info-container">
    <p class="product-name">{{ produce.foodName }}</p>
    <br />
    <p class="product-price">
      {{ subTotal }}
    </p>
  </div>
  <div>Total: {{ produce.qoh }}x</div>
  <div mat-dialog-content class="qoh-container">
    <button class="" (click)="qohChangeButton('-')">-</button>
    <input
      type="text"
      [value]="counter"
      size="4"
      (keypress)="numberOnly($event)"
      (keydown.backspace)="removeNumber()"
      (keydown)="validNumber($event)"
      (keyup)="updateCounterInput()"
    />
    <button class="" (click)="qohChangeButton('+')">+</button>
  </div>
  <div mat-dialog-actions align="end" class="confirm-container">
    <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
    <button mat-button color="primary" (click)="confirm(produce)">Add</button>
  </div>
</div>
