// .main-container {
//   margin: 0 auto;
//   overflow: hidden;
//   width: 15vw;
// }

// button.mat-icon-button {
//   background-color: transparent;
//   border: none;
//   cursor: pointer;
//   transition: transform 0.2s ease-in-out;
// }

// button.mat-icon-button:hover {
//   transform: scale(1.2);
// }

// .product-name {
//   text-align: center;
//   font-size: large;
//   font-weight: 550;
// }

// .info-container {
//   align-items: center;
//   justify-content: center;
//   text-align: center;
// }

// .image-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .product-image {
//     height: 15vh;
//     margin-bottom: 5px;
//     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//   }
// }

// .qoh-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 10px;
// }

// .qoh-container button {
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   padding: 5px 10px;
//   border-radius: 5px;
//   cursor: pointer;
//   font-size: 18px;
// }

// .qoh-container input {
//   width: 50px;
//   text-align: center;
//   font-size: 16px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   padding: 5px;
// }

// .confirm-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .add-button {
//     background-color: #00bf63b1;
//     margin-bottom: 30px;

//     &:hover {
//       background-color: #0ad171b1;
//     }

//     &:disabled {
//       background-color: #00bf63b1;
//       cursor: not-allowed;

//       &:hover {
//         background-color: #00bf63b1;
//       }
//     }
//   }
// }

// @media screen and (max-width: 1024px) {
//   .main-container {
//     width: 100%;
//   }

//   .info-container {
//     width: 90%;
//   }
// }

.main-container {
  margin: 0 auto;
  overflow: hidden;
  width: 300px;
  position: relative;
}
mat-icon:hover {
  background-color: #e0e0e0;
  border-radius: 1em;
}

button.mat-icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
}

button.mat-icon-button:hover {
  transform: scale(1.2);
}

.product-name {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.info-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .product-image {
    height: 150px;
    width: 50%;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.qoh-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.qoh-container button {
  background-color: #0fc263;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.qoh-container button:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.qoh-container input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.confirm-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .add-button {
    background-color: #0cda76b1;
    margin-bottom: 30px;
    color: #fff;

    &:hover {
      background-color: #0ad171b1;
    }

    &:disabled {
      background-color: #06a156b1;
      cursor: not-allowed;

      &:hover {
        background-color: #00bf63b1;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    width: 100%;
  }

  .info-container {
    width: 90%;
  }
}
