/* orders.component.scss */

.order-card {
  width: 30%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Card shadow */

  ul {
    list-style: none;

    li {
      &:first-of-type {
        font-weight: bold;
      }
    }
  }
}
