<mat-card align="center">
  <mat-card-header></mat-card-header>
  <mat-card-content class="main-container"
    ><div class="img-container">
      <!-- <img
        src="../../../assets/somi-jaiswal-unsplash.jpg"
        alt="Farmer's banner"
      /> -->
      <!--      
        <img
        src="{{ this.userProfile.profileBannerURI }}"
        alt="Farmer's banner"
      />-->
      <img
        src="../../../assets/nate-johnstonunsplash.jpg"
        alt="Farmer's Profile"
      />
      <!--      <img
        src="{{ this.userProfile.profileImageURI }}"
        alt="Farmer's Profile"
      />-->
    </div>
    <div class="account-details-container">
      <ul class="no-bullets">
        <li>
          <strong class="my-accent-text">Account Name:</strong>
          {{ this.userProfile.accountName }}
        </li>
        <li>
          <strong>Profile Name:</strong> {{ this.userProfile.profileName }}
        </li>
        <li><strong>Email:</strong> {{ this.userProfile.email }}</li>
        <li><strong>Location:</strong></li>
        <li><strong>Phone:</strong> {{ this.userProfile.phoneNumber }}</li>
      </ul>
    </div>
    <div class="account-misc-container">
      <p>
        Sed facilisi pede ullamcorper magnis tempus penatibus mauris hendrerit,
        feugiat ligula auctor nulla montes dapibus natoque. Mauris tortor
        dictumst vivamus quis etiam dignissim sapien viverra Est adipiscing
        vestibulum placerat. Nisl. Mi. Lacus. Parturient vulputate erat cursus
        ornare iaculis tristique conubia leo ultrices, eu. Dignissim Neque
        dignissim eu posuere luctus malesuada senectus aenean dui ornare augue
        natoque hac nunc laoreet venenatis lacinia. Porta aptent facilisis
        turpis. Sit. Ridiculus hac enim platea lacinia natoque pellentesque.
        Conubia cum accumsan et. Erat faucibus molestie nunc id. Interdum in
        elit. Aptent integer etiam sed dolor litora. Pulvinar a ac scelerisque
        tellus ac sollicitudin. Ut enim.
      </p>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="produce-container">
      <h2>Produce</h2>
      <div class="grid-container">
        <ng-container *ngFor="let produce of userStand.produceList">
          <div
            class="grid-item"
            (mouseenter)="onHover()"
            (mouseleave)="onLeave()"
            [ngStyle]="{ cursor: getCursor() }"
            (click)="onProductClick(userStand, produce)"
            [ngClass]="{ selected: userStand === selectedProduct }"
          >
            <div class="item-data">
              <img class="product-image" src="assets/Pumpkin.jpg" />
              <p class="product-name">{{ produce.foodName }}</p>
              <p class="product-price">${{ produce.price }}</p>
              <p class="product-qty">{{ produce.qty }}x</p>
              <div class="product-seller-container">
                <p class="product-seller">
                  Seller: {{ userProfile.profileName }}
                </p>
                <p class="product-harvestdate">
                  Harvested: {{ produce.harvestDate }}
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-card-content>
</mat-card>
