.main-container {
  max-width: 60vw;
  height: 38vh;
  margin: auto;
  margin-bottom: 10px;
  background-color: rgba(140, 195, 63, 0.1);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
}

.input-field {
  border: none;
  border-bottom: 1px solid #9b9b9b;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(140, 195, 63, 0.1);
}

.input-field:focus {
  outline: none;
  border-color: #00bf63;
  box-shadow: 0 0 8px rgba(0, 191, 99, 0.2);
}

.img-container {
  display: block;
  justify-content: left;
  border-right: 1px solid #bfbfbf;
  height: 38vh;
  max-width: 15vw;

  img {
    width: 90%;
    height: 200px;
    padding: 10px;
    margin: 0;
  }

  .upload-photo-button {
    width: 90%;
    margin-left: 10px;
    background-color: #00bf63b1;
    color: black;
    font-size: 1rem;
  }

  .delete-account-button {
    width: 90%;
    margin-left: 10px;
  }
  .delete-account-button:hover {
    background: red;
    color: white;
  }
}

.account-details-container {
  display: flex;
  margin-bottom: 20px;
  width: 41vw;
  padding-right: 20px;
  height: 40vh;

  .display-name-input {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .primary-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-row {
      display: flex;
      align-items: center;
      height: 40px;
    }

    .item-label {
      width: 160px;
      text-align: left;
    }

    .item-data {
      width: 160px;
      flex: 1;
      text-align: left;
    }

    .display-name-input {
      font-size: 30px;
    }
  }

  @media (min-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

.account-description-container {
  width: 40vw;
  height: 10vh;
  margin: 232px auto;
  margin-left: 0;
  text-align: left;

  .input-field.description {
    border-bottom: 1px solid #9b9b9b;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
  }
}

.produce-container {
  max-width: 60vw;
  margin: auto;
  background-color: rgba(140, 195, 63, 0.1);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.grid-container {
  max-height: 30vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 100vw;
  margin: 0 auto;
  padding-left: 10px;

  .grid-item {
    position: relative;
    width: 220px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;

    .item-data {
      position: relative;
      background-color: rgba(140, 195, 63, 0.1);
      border: 1px solid black;

      .hover-icons {
        position: absolute;
        top: 1px;
        right: 1px;

        .edit-item-button,
        .delete-item-button {
          color: white;
        }

        .edit-item-button:hover,
        .delete-item-button:hover {
          color: green;
          // transition: all 0.3s ease;
        }
      }

      .product-image {
        width: 100%;
        height: 150px;
        margin-bottom: 5px;
      }

      .product-name {
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 550;
        margin-bottom: 4px;
      }

      .product-price {
        font-weight: 500;
        margin: 0;
      }

      .product-qoh {
        text-align: left;
        margin-left: 6px;
        margin-bottom: 0px;
        font-weight: 400;
      }

      .product-seller-container {
        background-color: rgba(36, 45, 24, 0.212);
        height: 60px;
        padding-top: 10px;

        .product-seller,
        .product-harvestdate {
          font-weight: 550;
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
}
