<mat-card align="center">
  <mat-card-header></mat-card-header>
  <mat-card-content class="main-container">
    <div class="img-container">
      <img
        src="../../../assets/nate-johnstonunsplash.jpg"
        alt="User's Profile Pic"
      />
      <button
        mat-raised-button
        color="primary"
        class="upload-photo-button"
        (click)="uploadPhoto()"
      >
        Upload New Photo
      </button>
      <p style="margin-top: 10px; font-size: small">
        Member since: {{ dateCreatedFormatted }}
      </p>
      <button class="delete-account-button" (click)="openConfirmationDialog()">
        Delete account
      </button>
      <!--      <img
        src="{{ this.userProfile.profileImageURI }}"
        alt="User's Profile"
      />-->
    </div>

    <div class="account-details-container">
      <ul style="list-style-type: none">
        <li>
          <span *ngIf="isEditable">
            <strong class="item-title">Display Name: </strong>
            <input
              type="text"
              [(ngModel)]="updatedProfile.displayName"
              class="input-field"
            />
          </span>
          <span *ngIf="!isEditable" class="display-name-input">
            {{ userProfile.displayName }}
          </span>
        </li>
        <li *ngIf="isEditable">
          <strong class="item-title">Email: </strong>
          <span>
            {{ userProfile.email }}
          </span>
        </li>
        <li *ngIf="isEditable">
          <strong>Phone: </strong>
          <span>
            <input
              type="text"
              [(ngModel)]="updatedProfile.phoneNumber"
              class="input-field"
            />
          </span>
          <span *ngIf="!isEditable">
            {{ userProfile.phoneNumber }}
          </span>
        </li>
      </ul>


      <mat-card-actions align="end" style="margin: 0">
        <button
          mat-raised-button
          style="background-color: #bf6c189f"
          *ngIf="isEditable"
          (click)="cancelEdit()"
        >
          Cancel
        </button>
        <button
          mat-raised-button
          style="background-color: #00bf63b1"
          (click)="isEditable ? saveChanges() : toggleEdit()"
        >
          {{ isEditable ? "Save" : "Update Profile" }}
        </button>
      </mat-card-actions>

      <div class="account-description-container">
        <li style="list-style-type: none">
          <span *ngIf="isEditable">
            <strong>Description: </strong>
            <input
              type="text"
              [(ngModel)]="updatedProfile.description"
              class="input-field description"
            />
          </span>
          <span *ngIf="!isEditable">
            <strong *ngIf="userProfile.description != ''">Description: </strong>
            {{ userProfile.description }}
          </span>
        </li>

        <button (click)="openListItemDialog()">
          Sell item
        </button>

      </div>
    </div>
  </mat-card-content>

  <mat-card-content>
    <div class="produce-container">
      <h2 *ngIf="userStandDataFetched" style="margin: 0">Produce</h2>
      <div class="grid-container" *ngIf="userStandDataFetched">
        <ng-container *ngFor="let produce of userStand.produceList">
          <div
            class="grid-item"
            (mouseenter)="onHover()"
            (mouseleave)="onLeave()"
            [ngStyle]="{ cursor: getCursor() }"
            (click)="onProductClick(userStand, produce)"
            [ngClass]="{ selected: userStand === selectedProduct }"
          >
            <div class="item-data">
              <img class="product-image" src="assets/Pumpkin.jpg" />
              <p class="product-name">{{ produce.foodName }}</p>
              <p class="product-price">${{ produce.price }}</p>
              <p class="product-qty">{{ produce.qty }}x</p>
              <div class="product-seller-container">
                <p class="product-seller">
                  Seller: {{ userProfile.displayName }}
                </p>
                <p class="product-harvestdate">
                  Harvested: {{ produce.harvestDate }}
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="!userStandDataFetched">
        <h2>You have nothing for sale yet !</h2>
      </div>
    </div>
  </mat-card-content>
</mat-card>
