.form-container {
  padding: 20px;
  width: 60%;
  height: 30vh;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
