.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-container .account-details-container {
  height: 50%;
}

.account-misc-container {
  height: 50%;
  width: 100%;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
