<!--each item is seperate in this html. not grouped by user-->

<div class="grid-container">
  <ng-container *ngFor="let user of userStandProfiles">
    <ng-container *ngFor="let produce of user.produceList">
      <div
        class="grid-item"
        (mouseenter)="onHover()"
        (mouseleave)="onLeave()"
        [ngStyle]="{ cursor: getCursor() }"
        (click)="onProductClick(user, produce)"
        [ngClass]="{ selected: user === selectedProduct }"
      >
        <div class="item-data">
          <img class="product-image" src="assets/Pumpkin.jpg" />
          <p class="product-name">{{ produce.foodName }}</p>
          <p class="product-price">
            {{ produce.price + "" | currency : "USD" : "symbol" : "1.2-2" }}
          </p>
          <p class="product-qoh">{{ produce.qoh }}x</p>
          <div class="product-seller-container">
            <p class="product-seller">Seller: {{ user.displayName }}</p>
            <p class="product-harvestdate">
              Harvested: {{ produce.harvestDate }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<!--this is html for filtering by users. this is grouped by users-->

<!-- <div class="grid-container" >
    <div class="grid-item" (mouseenter)="onHover()" (mouseleave)="onLeave()" [ngStyle]="{ 'cursor': getCursor() }"

        (click)="onProductClick(user)" *ngFor="let user of userStandProfiles"
        [ngClass]="{ 'selected': user === selectedProduct }">
       

        <div class="product-name">{{ user.account.username }}</div>
        <div *ngFor="let produce of user?.produceList">
            <p>Food Name: {{ produce?.foodName }}</p>
            <p>Quantity: {{ produce?.qoh }}</p>
            <p>Harvest Date: {{ produce?.harvestDate }}</p>
        </div>
    </div>
</div> -->
