<div class="grid-container">
  <ng-container *ngFor="let user of userStandProfiles">
    <ng-container *ngFor="let produce of user.produceList">
      <div *ngIf="produce.qoh != 0" class="grid-item" (mouseenter)="onHover()" (mouseleave)="onLeave()"
        [ngStyle]="{ cursor: getCursor() }" (click)="onProductClick(user, produce)" [style.cursor]="getCursor()"
        [style.opacity]="!user.email.includes(loggedInUser) ? 1 : 0.8"
        [style.pointer-events]="!user.email.includes(loggedInUser) ? 'auto' : 'none'">

        <div class="item-data">
          <img class="product-image" src="assets/Pumpkin.jpg" />
          <p class="product-name">{{ produce.foodName }}</p>
          <p class="product-price">
            {{ produce.price + "" | currency : "USD" : "symbol" : "1.2-2" }}
          </p>
          <p class="product-qoh">{{ produce.qoh }}x</p>
          <div class="product-seller-container">
            <p *ngIf="user.email.includes(loggedInUser)" class="product-seller" style="color: green">Seller:
              {{user.displayName}}</p>
            <p *ngIf="!user.email.includes(loggedInUser)" class="product-seller">Seller: {{ user.displayName }}</p>
            <p class="product-harvestdate">
              Harvested: {{ produce.harvestDate }}
            </p>
          </div>

        </div>
      </div>
    </ng-container>
  </ng-container>
</div>