.mat-card {
    height: 83vh;
    padding: 0;

    .main-container {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(180deg, rgba(#6eee87, 0.4), rgba(#5fc52e, 0.7)), url("/assets/registration-page/registration-finish/banner.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;

        .mat-card-title {
            font-size: 3em;
            margin-top: 140px;
            margin-bottom: 120px;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }

        button {
            width: 60%;
            margin-bottom: 20px;
            font-size: 1.25em;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
            padding: 12px 20px;
            border-radius: 360px;
            border: 2px solid white;
            color: white;
            background-color: rgba(0, 0, 0, 0.15);
            transition: transform .2s ease-in-out, background-color .2s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.03);
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

@media screen and (max-width: 761px) {
    .mat-card-title {
        line-height: 50px;
    }
}