$primary-color: #00bf63;

// override the background image set in global styles.scss
mat-card {
  border-radius: 0;
  background-image: url("../../assets/registration-page/background.jpg") !important;
}

.main-container {
  max-width: 60vw;
  height: 72vh;
  margin: 40px auto !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.image-container {
  background-image: url("../../assets/registration-page/vegetable-stand.png");
  background-color: white;
  background-size: cover;
  font-size: 20px;
  padding: 30px 100px;
  height: 100%;
  float: left;
  width: 60%;
  border-right: 1px solid #959595;

  .image-text {
    font-size: 42px;
    line-height: 1.5;
  }
}

.form-container {
  float: right;
  width: 40%;
  height: 100%;
  background-color: white;
}

.register-text {
  margin: 60px 0;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 550;
  font-size: 20px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.register-button {
  background-color: $primary-color;
  margin-top: 20px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 2px;
  width: 40%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.already-registered-text {
  margin-top: 20px;
  border: none;
  font-size: 14px;
}

.already-registered-button {
  transition: all 0.3s ease;
  background: none;
  color: $primary-color;

  &:hover {
    cursor: pointer;
    font-size: 15px;
  }
}

mat-form-field {
  width: 50%;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 1rem;
  font-weight: 400;
}

mat-error {
  font-size: 0.75rem;
  font-weight: 400;
  color: #d50000;
}

mat-icon-button {
  background-color: transparent;
  border: none;
  margin-right: -1.5rem;
  margin-top: -0.5rem;

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 1280px) {
  .main-container {
    max-width: 90vw;
  }
}

@media screen and (max-width: 720px) {

  .main-container {
    max-width: 80vw;
    opacity: 90%;
  }

  .image-container {
    display: none;
  }

  .form-container {
    width: 100%;
  }
}

@media screen and (max-width: 412px) {
  .title {
    line-height: 50px;
  }

  .main-container {
    height: 40rem;
  }
}
