<mat-card align="center">
  <div class="main-container">
    <mat-card-title class="title">Spring Marketplace</mat-card-title>
    <div class="form-container">
      <ng-container *ngIf="!loading">
        <h2>Please register an account</h2>
        <form [formGroup]="registrationForm" (keydown.enter)="onFormSubmit()">
          <div layout="row">
            <mat-form-field flex>
              <input matInput placeholder="Display Name" type="text" required formControlName="displayName" />
              <mat-error *ngIf="displayName.errors && (displayName.dirty || displayName.touched)" align="end">
                <p *ngIf="displayName.hasError('required')">Display name is required.</p>
                <p *ngIf="
                  !displayName.hasError('required') &&
                  displayName.hasError('invalidDisplayName')
                ">
                  Min characters: 4
                </p>
              </mat-error>
            </mat-form-field>
          </div>

          <div layout="row">
            <mat-form-field flex>
              <input matInput placeholder="Email" type="email" required formControlName="email" />
              <mat-error *ngIf="email.errors && (email.dirty || email.touched)" align="end">
                <p *ngIf="email.hasError('required')">Email is required.</p>
                <p *ngIf="
                  !email.hasError('required') && email.hasError('invalidEmail')
                ">
                  needs format - xx&#64;xx.xx
                </p>
              </mat-error>
            </mat-form-field>
          </div>

          <div layout="row">
            <mat-form-field flex>
              <input matInput placeholder="Password" type="{{ hidePassword ? 'password' : 'text' }}" required
                formControlName="password" />
              <mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="
                hidePassword ? 'Hide password' : 'Show password'
              ">
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
              </mat-icon-button>
              <mat-error *ngIf="password.errors && (password.dirty || password.touched)" align="end">
                <p *ngIf="password.hasError('required')">Password is required.</p>
                <p *ngIf="
                  !password.hasError('required') &&
                  password.hasError('invalidPassword')
                ">
                  Min characters: 4
                </p>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- new stuff -->
          <div layout="row">
            <mat-form-field flex>
              <input matInput placeholder="Confirm Password" type="{{ hidePassword ? 'password' : 'text' }}" required
                     formControlName="passwordConfirm" />
              <mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="
                hidePassword ? 'Hide password' : 'Show password'
              ">
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
              </mat-icon-button>
              <mat-error *ngIf="passwordConfirm.errors && (passwordConfirm.dirty || passwordConfirm.touched)" align="end">
                <p *ngIf="passwordConfirm.hasError('required')">Password is required.</p>
                <p *ngIf="
                  !passwordConfirm.hasError('required') &&
                  passwordConfirm.hasError('invalidPassword')
                ">
                  Min characters: 4
                </p>
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <span>
              <button class="register-button" mat-raised-button type="button" (click)="onFormSubmit()"
                [disabled]="!registrationForm.valid">
                Register
              </button>
            </span>
          </div>

          <div>
            <span>
              <button class="already-registered-button" (click)="handleAlreadyRegistered()">
                Already registered? click here
              </button>
            </span>
          </div>
        </form>
      </ng-container>

      <div *ngIf="loading">
        <p style="font-size: 24px; margin-top: 50px">Loading...</p>
      </div>

    </div>
  </div>
</mat-card>
