/* You can add global styles to this file, and also import other style files */


html,
body {
  background-image: url("assets/background.png");
  // height: 100%;
  margin: 0;
  padding: 0;
  // font-family: 'Roboto', sans-serif;
}

// currently selected menu item
.selected-menu-item {
  border-bottom: 1px solid #ffde59;
}


/* override all mat-card instances to use this instead of default white color */
mat-card {
  background-image: url("assets/background.png") !important;
  box-shadow: none !important;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content {
  flex: 1;
}

.header {
  background-color: #222222;
  color: black;
  height: 6rem;
  margin: auto;
}

.menu-items-left {
  display: flex;
  align-items: center;
  color: #ffde59;
  width: 20vw;

  .logo {
    width: 20rem;
    height: 20rem;
    padding-bottom: 5.5rem;
  }
}

.menu-items-center {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex: 1;
}

.menu-items-right {
  width: 20vw;
  display: flex;
  justify-content: right;
  color: #ffde59;
}

a {
  font-weight: 400;
  color: #0fc263;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  transform: scale(1.1);
}

.about {
  background-color: #F1EFDD;
  padding: 50px 300px;
  margin: 20px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
}

.about-grid {
  text-align: center;
  padding: 10px;
  flex: 0 1 calc(33.33% - 100px);
  margin-bottom: 20px;
  box-sizing: border-box;

  h4 {
    margin: 14px 0;
    color: #068742;
    font-size: 20px;
    font-weight: 500;
  }

  p {
    font-size: 18px;
    line-height: 1.2;
  }
}


@media screen and (max-width: 1280px) {
  .menu-items-left {
    display: none;
  }

  .about {
    padding: 50px 10px;
  }

  .about-grid {
    flex: 0 1 calc(100% - 20px);
  }
}

.footer {
  text-align: center;
  background-color: #222222;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  height: 100px;
  margin: 0rem;
  width: 100vw;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-text {
    text-align: center;
    color: #ffde59;
  }
}

@media screen and (max-width: 768px) {
  .about-grid {
    flex: 0 1 calc(50% - 20px);
    /* Adjust for two columns on smaller screens */
  }

  .header {
    width: 100%;
    height: 30vh;
  }

  .menu-items-center {
    display: block;
    text-align: center;
    width: 100%;
  }

  .menu-items-right {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  a {
    display: block;
    margin: 5px 0;
  }

  .selected-menu-item {
    border: none;
    color: yellow;
  }
}

@media screen and (max-width: 480px) {
  .about-grid {
    flex: 0 1 100%;
    margin-right: 0;
  }
}