/* You can add global styles to this file, and also import other style files */

html,
body {
  background-image: url("assets/background.png");
  // height: 100%;
  margin: 0;
  padding: 0;
}

/* override all mat-card instances to use this instead of default white color */
mat-card {
  background-image: url("assets/background.png") !important;
  box-shadow: none !important;
}

.container {
  display: flex;
  flex-direction: column;
  // height: 100vh; // this is wrong
  overflow: hidden;
}

.content {
  flex: 1;
}

.header {
  background-color: #222222;
  color: black;
  height: 6rem;
  margin: auto;
}

.menu-items-left {
  display: flex;
  align-items: center;
  color: #ffde59;

  .logo {
    width: 20rem;
    height: 20rem;
    padding-bottom: 5.5rem;
  }
}

.menu-items-center {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex: 1;
}

.menu-items-right {
  display: flex;
  align-items: center;
  color: #ffde59;
}

a {
  font-weight: 400;
  color: #0fc263;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  transform: scale(1.1);
}

.footer {
  text-align: center;
  background-color: #222222;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 400em;
  height: 4rem;
  margin: 0rem;
  width: 100vw;
  bottom: 0;

  .footer-text {
    margin-top: 1em;
    color: #ffde59;
  }
}

// html,
// body {
//   background-image: url("assets/background.png");
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

// /* override all mat-card instances to use this instead of default white color */
// mat-card {
//   background-image: url("assets/background.png") !important;
//   box-shadow: none !important;
// }

// .container {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;

//   .content {
//     flex: 1;

//     .header {
//       background-color: #222222;
//       color: black;
//       height: 6vw;
//       margin: auto;

//       .logo {
//         width: 20vw;
//         height: 20vw;
//         padding-bottom: 5.5vw;
//       }

//       .app-menu {
//         color: #ffde59;
//       }
//     }
//   }

//   .navigation-bar-main {
//     a {
//       font-weight: 400;
//       padding: 8px 16px;
//       color: #0FC263;
//       text-decoration: none;
//       transition: background-color 0.3s ease;
//     }

//     a:hover {
//       background-color: #ddd;
//     }

//     a.active {
//       background-color: #ccc;
//     }
//   }

//   .header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   .menu-items-center {
//     flex: 1;
//     display: flex;
//     justify-content: center;
//   }

//   .menu-items-right {
//     display: flex;
//     gap: 10px;
//     color: #ffde59;
//   }

//   .footer {
//     text-align: center;
//     background-color: #222222;
//     color: white;
//     font-family: Roboto, sans-serif;
//     font-size: 1.25vw;
//     font-weight: 400;
//     height: 4vw;
//     margin: 0vh;

//     .footer-text {
//       margin-top: 2.5vh;
//       color: #ffde59;
//     }
//   }
// }
