/* You can add global styles to this file, and also import other style files */

* {
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Noto Sans', sans-serif;
  // font-family: 'Lato', sans-serif;
  font-family: "Livvic", sans-serif;
}

html,
body {
  background-image: url("assets/background.png");
  margin: 0;
  padding: 0;
  font-size: 100%;
}

// currently selected menu item navbar
.selected-menu-item-navbar {
  border-bottom: 1px solid green;
}

// currently selected menu item footer
.selected-menu-item-footer {
  // font-size: larger;
}

/* override all mat-card instances */
mat-card {
  background-image: url("assets/background.png") !important;
  box-shadow: none !important;
}

/* override all mat-dialog-container instances */
mat-dialog-container {
  background-image: url("assets/background.png") !important;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0 !important;
  max-width: none !important; // override bootstrap's max-width for containers
}

.content {
  flex: 1;
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #3fa458;

  .info-header-text {
    margin-top: 10px;
    font-size: 16px;
    color: white;
  }
}

.header {
  background-color: white;
  height: 7rem;
  margin: auto;
  border-bottom: 1px solid #e0e0e0;
}

.menu-items-left {
  display: flex;
  align-items: center;
  color: black;
  width: 20vw;

  .logo {
    width: 100%;
    height: auto;
    padding-bottom: 6rem;
  }
}

.menu-items-center {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex: 1;
}

.menu-items-right {
  width: 20vw;
  display: flex;
  justify-content: right;
  color: black;
}

body a {
  font-weight: 400;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  transform: scale(1.1);
}

.about {
  // background-color: #f1efdd;
  background-color: white;
  // border-top: 1px solid #e0e0e0;
  padding: 50px 300px;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
}

.about-grid {
  text-align: center;
  padding: 10px;
  flex: 0 1 calc(33.33% - 100px);
  margin-bottom: 20px;
  box-sizing: border-box;

  h4 {
    margin: 14px 0;
    font-size: 20px;
    font-weight: 500;
  }

  p {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1280px) {
  .menu-items-left {
    display: none;
  }

  .about {
    padding: 50px 10px;
  }

  .about-grid {
    flex: 0 1 calc(100% - 20px);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  // background-color: black;
  background-image: linear-gradient(180deg, rgba(106, 150, 31, 0.4), rgba(106, 150, 31, 0.9)), url('/assets/home-page/footer-banner.jpg');
  color: white;
  font-size: 1.25em;
  // font-weight: 400;
  // height: 20vh;
  min-height: 20vh;
  // margin: 0rem;
  // bottom: 0;

  .footer-body {
    display: flex;
    height: 70%;
    flex: 1;
    // .footer-icons {
    //   gap: 3rem;

    //   justify-content: center;
    justify-content: center;
    align-items: center;
    //   height: 50%;
    // }

    .footer-nav {
      // flex-wrap: wrap;
      gap: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .menu-item {
        color: white;
      }
    }

  }

  .footer-copyright {
    // background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
  }

  .footer-text {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .selected-menu-item-navbar {
    border-bottom: none;
    color: green;
  }

  .footer-container {
    padding: 20px 0;
  }

  .footer-nav {
    gap: 1rem !important;
    flex-direction: column;
  }

  .footer-copyright {
    margin-top: 40px;
  }

  .about-grid {
    flex: 0 1 calc(50% - 20px);
  }

  .header {
    width: 100%;
    height: 40vh;
  }

  .menu-items-center {
    display: block;
    text-align: center;
    width: 100%;
  }

  .menu-items-right {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  a {
    display: block;
    margin: 5px 0;
  }
}

@media screen and (max-width: 480px) {
  .info-header {
    height: 5rem;
    padding: 20px;
  }

  .about-grid {
    flex: 0 1 100%;
    margin-right: 0;
  }
}