<div class="main-container">
    <div *ngIf="profiles">
        <div class="grid-layout">
            <div class="item-container" *ngFor="let profile of profiles" (click)="navigateToFarmersProfile(profile)">

                <div class="left-items-container">
                    <img class="profile-image" *ngIf="profile.profileImage" [src]="profile.profileImage" />
                    <div class="profile-date-created">
                        Member since: {{ parseDate(profile.creationDate) | date:'yyyy-MM-dd' }}
                    </div>
                </div>

                <div class="right-items-container">
                    <div class="profile-name">
                        {{ profile.displayName }}
                    </div>
                    <div class="profile-description">
                        {{ profile.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>