.main-container {

    .grid-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        .item-container {
            width: 40vw;
            padding: 30px;
            border: 1px solid lightblue;
            margin-right: 20px;

            .profile-image {
                width: 220px;
                height: 160px;
                margin-bottom: 5px;
            }

            .profile-name {
                border: 1px solid red;
                width: 20%;
            }
        }
    }

}