.main {
  padding: 40px 0px;
  text-align: center;
  font-family: "Poppins", sans-serif;

  .header-container {
    margin-bottom: 100px;
    margin-top: 50px;
  }

  .header-text {
    font-size: 40px;
  }

  .button-market-redirect {
    background-color: transparent;
    border: 2px solid green;
    color: green;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: green;
      color: white;
    }
  }

  .button-orders-redirect {
    background-color: transparent;
    border: 2px solid green;
    color: green;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: green;
      color: white;
    }
  }

  .row {
    .cart-data-container {
      margin-left: 15%;
      // background-color: #fff;
      width: 50%;

      .cart-data {
        padding: 16px 40px 40px 40px;
        width: 100%;
        overflow: hidden;

        .removeItem:hover {
          background-color: #e0e0e0;
        }

        h1 {
          font-weight: 900;
          font-size: 22px;
        }

        h2 {
          font-weight: 900;
          font-size: 22px;
          text-align: right;
        }

        .cart-title {
          h4 {
            color: #999999;
            font-weight: 900;
            font-size: 14px;
          }
        }

        .product-list {
          .product-image {
            width: 65px;
            height: 65px;
          }

          .product-item {
            font-weight: 550;
            margin: 0%;
            font-size: 14px;
          }

          mat-icon {
            color: #ff0000b3;
          }

          .item_center {
            display: flex;
            justify-content: center;
            flex-direction: column;
          }
        }
      }
    }

    .order-summary {
      background-color: rgba(219, 212, 212, 0.365);
      text-align: left;
      width: 25%;
      max-height: 400px;

      .checkout {
        padding: 40px;

        h1 {
          font-weight: 900;
          font-size: 22px;
        }

        .checkoutItem {
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }

        .checkoutTotal {
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
        }

        .checkout-btn {
          width: 100%;
          padding: 8px 0px;
          text-transform: uppercase;
          margin-top: 8px;
          border: none;
          background-color: #0fc263;
          color: #fff;
        }

        .checkout-btn:hover {
          background-color: rgba(0, 191, 99, 0.6);
        }

        .clear-cart-btn {
          width: 100%;
          padding: 8px 0px;
          text-transform: uppercase;
          margin-top: 12px;
          border: none;
          background-color: #ff0000b3;
          color: #fff;
        }

        .clear-cart-btn:hover {
          background-color: rgba(255, 0, 0, 0.6);
        }

        .view-orders-button {
          width: 100%;
          padding: 8px 0px;
          text-transform: uppercase;
          margin-top: 12px;
          border: none;
          background-color: rgba(46, 132, 197, 1);
          color: #fff;
        }

        .view-orders-button:hover {
          background-color: rgba(46, 132, 197, 0.6);
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .row {
    .cart-data-container {
      margin-left: 0 !important;
      width: 100% !important;
    }

    .order-summary {
      margin-left: auto;
      margin-right: auto;
      width: 60% !important;
      margin-top: 20px;
    }
  }
}

@media (max-width: 768px) {
  .order-summary {
    max-height: 500px !important;
    height: 500px !important;
  }

  .product-item {
    font-size: 12px !important;
  }

  .product-image {
    width: 50px !important;
    height: 50px !important;
  }
}

@media (max-width: 600px) {
  mat-icon {
    font-size: 10px;
    margin-right: 10px;
  }

  .cart-title {
    h4 {
      font-size: 14px !important;
    }
  }

  .product-image {
    width: 25px !important;
    height: 25px !important;
    margin-bottom: 6px;
    margin-right: 10px;
  }

  .product-item {
    font-size: 12px !important;
    line-height: 8px;
  }
}

@media (max-width: 400px) {
  .cart-title {
    h4 {
      font-size: 10px !important;
    }
  }

  .product-item {
    font-size: 10px !important;
  }
}