<div class="main-container">
  <div class="your-cart-text" *ngIf="!isCartEmpty">
    Your Cart ({{ cartItems?.length }} items)
  </div>
  <p *ngIf="isCartEmpty" style="font-size: 22px">Your cart is currently empty
  </p>
  <button class="button-market-redirect" (click)="marketplaceRedirect()">Go shopping</button>
  <div class="cart-summary">
    <div class="user-cart">
      <div *ngIf="!isCartEmpty" class="label-container">
        <p></p>
        <p class="label-name">Name</p>
        <p class="label-qoh">Qty</p>
        <p class="label-seller">Seller</p>
        <p class="label-price">Price</p>
        <p class="label-total-price">Total</p>
        <p></p>
      </div>

      <div class="grid-container" *ngIf="!isCartEmpty">
        <ng-container *ngFor="let item of cartItems; let i = index">
          <div class="item-data">
            <div>
              <img class="product-image" src="assets/Pumpkin.jpg" /> <br />
              Max: {{ item.produce.qoh }}
            </div>

            <p class="product-name">{{ item.produce.foodName }}</p>

            <p class="product-qoh">
              {{item.counter}}
            </p>

            <!-- <p class="product-qoh">
              <input
                type="text"
                [(ngModel)]="item.counter"
                size="4"
                maxlength="4"
                (input)="onCounterInput($event, i)"
                (input)="calculateGrandTotal()"
              />
            </p> -->

            <p class="product-seller">{{ item.user.displayName }}</p>
            <p class="product-price">
              {{
              item.produce.price + "" | currency : "USD" : "symbol" : "1.2-2"
              }}
            </p>
            <p class="product-total-price">
              {{
              item.counter * item.produce.price + ""
              | currency : "USD" : "symbol" : "1.2-2"
              }}
            </p>

            <div class="action-icons">
              <!-- <button mat-icon-button (click)="purchaseIndividualItem(i)">
                <mat-icon>shopping_cart</mat-icon>
              </button> -->
              <button mat-icon-button (click)="removeCartItem(i)">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="totals-container" *ngIf="!isCartEmpty">
      <div class="sub-total">
        Subtotal: {{ grandTotal | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
      <div class="sales-tax">
        Sales Tax:
        {{ grandTotal * 0.13 | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
      <hr />
      <div class="grand-total">
        Grand total:
        {{ grandTotal * taxRate | currency : "USD" : "symbol" : "1.2-2" }}
      </div>
      <div class="cart-actions">
        <div class="purchase-button">
          <button (click)="openConfirmationDialog()">Checkout</button>
        </div>
        <div class="clear-cart-button">
          <button (click)="clearCartItems()">Clear Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>