$primary-color: #00bf63;

.main-container {
  max-width: 50vw;
  margin: 5vh auto;
  height: 35rem;
  background-color: rgba(140, 195, 63, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;

  .cart-summary {
    display: flex;
  }

  .user-cart {
    width: 80%;
    margin: 0 auto;
  }

  .your-cart-text {
    text-align: center;
    font-size: large;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .button-market-redirect {
    background-color: transparent;
    border: 2px solid green;
    color: green;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .button-market-redirect:hover {
    background-color: green;
    color: white;
  }

  .label-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;

    p {
      margin: 0;
      padding: 5px;
      font-weight: bold;
    }
  }

  .grid-container {
    display: block;
    justify-content: space-evenly;
    max-height: 50vh;
    overflow: auto;
  }

  .item-data {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: rgba(140, 195, 63, 0.1);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;

    .product-image {
      width: 6vw;
      height: 10vh;
    }

    .product-name {
      width: 10%;
    }

    .product-qoh {
      width: 10%;
    }

    .product-seller {
      width: 20%;
    }

    .product-price {
      width: 15%;
    }

    .product-total-price {
      width: 10%;
    }

    .action-icons {
      display: flex;
      margin-bottom: 1%;
    }
  }

  button.mat-icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  button.mat-icon-button:hover {
    transform: scale(1.2);
  }

  .totals-container {
    margin: 15px auto;
    background-color: rgba(64, 88, 31, 0.1);
    text-align: center;
    padding: 0.75vh 1.25vw;
    width: 35%;
    border-radius: 5px;

    .sub-total {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .sales-tax {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .grand-total {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .cart-actions {
    margin-top: auto;

    .purchase-button,
    .clear-cart-button {
      margin-top: 12px;
      text-align: center;
      justify-content: center;
      align-items: center;

      button {
        background-color: $primary-color;
        color: #fff;
        padding: 0.75vh 1.25vw;
        margin: auto;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.5vh;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}

// @media only screen and (max-width: 768px) {
//   .cart-summary {
//     display: block !important;
//   }
// }