.dialog-container {
}

#file-upload {
  color: #00bf63b1;
}

.dialog-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dialog-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dialog-labels {
  padding-top: 2px;
  width: 120px;
  margin-right: 10px;
}

.dialog-data {
  flex: 1;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  border: 1px solid #ccc; /* 1 pixel solid border in a shade of gray */
  border-color: black;
}
